[data-theme="mocha"] {
    color-scheme: dark;
    --b2: 22.5866% 0.028232 283.910973;
    --b3: 20.8866% 0.026107 283.910973;
    --bc: 84.8573% 0.006071 283.910973;
    --pc: 16.3319% 0.01819 277.309245;
    --sc: 16.3365% 0.008069 272.862191;
    --ac: 18.4514% 0.004767 30.491927;
    --nc: 12.3513% 0.007334 276.004711;
    --inc: 15.3284% 0.022269 259.884973;
    --suc: 17.1541% 0.021846 142.715274;
    --wac: 18.3861% 0.014083 86.528084;
    --erc: 15.1118% 0.02594 2.764177;
    --rounded-box: 1rem;
    --rounded-btn: 0.5rem;
    --rounded-badge: 1.9rem;
    --animation-btn: 0.25s;
    --animation-input: 0.2s;
    --btn-focus-scale: 0.95;
    --border-btn: 1px;
    --tab-border: 1px;
    --tab-radius: 0.5rem;
    --b1: 24.2867% 0.030357 283.910973;
    --p: 81.6596% 0.090952 277.309245;
    --s: 81.6823% 0.040345 272.862191;
    --a: 92.257% 0.023835 30.491927;
    --n: 61.7567% 0.03667 276.004711;
    --su: 85.7704% 0.109229 142.715274;
    --wa: 91.9303% 0.070415 86.528084;
    --er: 75.5592% 0.129702 2.764177;
    --in: 76.642% 0.111344 259.884973;
}